<!DOCTYPE html>
<html>

<title>Urgent Curier -Project</title>
<meta charset="utf-8" />
<link
	href="https://www.urgent-curier.ro/Content/css?v=GjsqU741_HREN9b2s5SYnyBZCcD1ypWeKQFWn0CmQNc1"
	rel="stylesheet" />
<link href="https://www.urgent-curier.ro/UploadedFiles/favicon.png"
	rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" media="screen and (max-width: 1250px)"
	href="https://www.urgent-curier.ro/Content/medium.css" />



<meta name="description" content="Urgent Cargus" />
<meta name="keywords" content="curier" />
<head></head>
<body>
	<script type="text/javascript">
		//<![CDATA[
		var theForm = document.forms['Form1'];
		if (!theForm) {
			theForm = document.Form1;
		}
		function __doPostBack(eventTarget, eventArgument) {
			if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
				theForm.__EVENTTARGET.value = eventTarget;
				theForm.__EVENTARGUMENT.value = eventArgument;
				theForm.submit();
			}
		}
		//]]>
	</script>



	<script
		src="https://www.urgent-curier.ro/bundles/MsAjaxJs?v=WDN5f72ZzHxjn9cdRPNP0xj3qMbDKL-0bd4i9h7WhTs1"
		type="text/javascript"></script>
	<script src="https://www.urgent-curier.ro/Scripts/jquery-2.1.4.min.js"
		type="text/javascript"></script>
	<script
		src="https://www.urgent-curier.ro/Scripts/jquery-ui-1.11.4.min.js"
		type="text/javascript"></script>
	<script
		src="https://www.urgent-curier.ro/bundles/WebFormsJs?v=N8tymL9KraMLGAMFuPycfH3pXe6uUlRXdhtYv8A_jUU1"
		type="text/javascript"></script>
	<script src="https://www.urgent-curier.ro/Scripts/script.js?v=11"
		type="text/javascript"></script>
	<div class="aspNetHidden">

		<input type="hidden" name="__VIEWSTATEGENERATOR"
			id="__VIEWSTATEGENERATOR" value="3CCCFCFF" /> <input type="hidden"
			name="__EVENTVALIDATION" id="__EVENTVALIDATION"
			value="vTg079qrAH2u9huNhs6qQP1+SzRxVuDHl4qhROlInAOROwlvgpabVnUFvHz4Ph9RQl0NMzJDT+TLhhstE+/6R1E+wQWj9H1QcZMZ392Qx2/5IAFp7jG7szoHgW5Ygt4jFidY+qwoyobJUodKni3fyifp+Uz/unxCm2kQlZi5lSi8Eg0DzQxXr5aOcqLpgQi70VePzX8erPzS0wuJMXDL+vbLt5lzHpRGFxkTyUmVe2Box0eQwCI0mzvtkcufEtS05xOkKKV8dxe86Q036DyW04bU0vM=" />
	</div>

	<script type="text/javascript"
		src="https://www.urgent-curier.ro/Scripts/scrolltopcontrol.js"></script>
	<script type="text/javascript"
		src="https://www.urgent-curier.ro/Scripts/jquery.maskedinput.min.js"></script>
	<script type="text/javascript"
		src="https://www.urgent-curier.ro/Scripts/jquery.price_format.1.7.min.js"></script>
	<script type="text/javascript"
		src="https://www.urgent-curier.ro/Scripts/jquery.hotkeys.js"></script>


	<div id="container" class="site_notlogged page_private_tracking">

		<table id="top_table" style="width: 100%;">
			<tr>
				<td style="width: 20%;"><a href="/" id="logo"></a></td>
				<td style="width: 33%;"><span class="validation-summary-errors">
				</span></td>
				<td style="width: 15%;">
					<section id="loginForm">

						<div id="login">
							<input name="ctl00$UserName" type="text" id="UserName"
								placeholder="Utilizator" /> <br /> <input
								name="ctl00$Password" type="password" id="Password"
								placeholder="Parola" autocomplete="off" /><a id="btnLogin"
								class="btnLogin"
								href="javascript:__doPostBack(&#39;ctl00$btnLogin&#39;,&#39;&#39;)">Log
								in</a>
						</div>

						<div id="login_remember">
							<input id="RememberMe" type="checkbox" name="ctl00$RememberMe" /><label
								for="RememberMe" id="Label3" class="checkbox">Tine-ma
								minte?</label>
						</div>

					</section>
				</td>
			</tr>
		</table>

		<div id="menu" class="menu_login">
			<ul>
				<li class="mbtn_servicii"><a href='#'>Servicii</a>
					<ul>
						<li class="mbtn_servicii_nationale"><a
							href='/articol/175/servicii-nationale'>Servicii Nationale</a></li>
						<li class="mbtn_servicii_internationale"><a
							href='/articol/259/servicii-internationale'>Servicii
								Internationale</a></li>
						<li class="mbtn_ship_&amp;_go"><a
							href='/articol/258/ship-and-go'>Ship & Go</a></li>
						<li class="mbtn_documente_utile"><a
							href='/articol/28/descarca-documentele-cu-caracter-public'>Documente
								utile</a></li>
						<li class="mbtn_calculator_tarife"><a
							href='/Private/Calculator.aspx'>Calculator tarife</a></li>
					</ul></li>
				<li class="mbtn_aplicatii"><a href='#'>Aplicatii</a>
					<ul>
						<li class="mbtn_platforma_webexpress"><a
							href='/articol/167/platforma-webexpress'>Platforma WebExpress</a></li>
						<li class="mbtn_manual_utilizare_webexpress"><a
							href='/articol/167/platforma-webexpress#manual-utilizare'>Manual
								utilizare WebExpress</a></li>
					</ul></li>
				<li class="mbtn_despre_noi"><a href='#'>Despre noi</a>
					<ul>
						<li class="mbtn_istoric"><a href='/articol/261/istoric'>Istoric</a></li>
						<li class="mbtn_valorile_noastre"><a
							href='/articol/262/valorile-noastre'>Valorile noastre</a></li>
						<li class="mbtn_automatizari"><a href='#'>Automatizari</a>
							<ul>
								<li class="mbtn_banda_de_sortare_colete"><a
									href='/articol/110/banda-de-cantarie-si-sortare'>Banda de
										sortare colete</a></li>
								<li class="mbtn_banda_de_sortare_plicuri"><a
									href='/articol/189/banda-de-sortare-plicuri'>Banda de
										sortare plicuri</a></li>
							</ul></li>
						<li class="mbtn_noutati"><a href='/categorie/49/noutati'>Noutati</a></li>
						<li class="mbtn_presa"><a href='/categorie/50/presa'>Presa</a></li>
					</ul></li>
				<li class="mbtn_cariere"><a
					href='/articol/119/recrutare-si-selectie'>Cariere</a></li>
				<li class="mbtn_contact"><a href='/articol/268/contact'>Contact</a></li>
			</ul>
		</div>



		<div id="login_after" class="logged">
			<a id="btnLogout" class="btnLogout">Logout</a>
		</div>









<div id="head_slide_div" style="top:0px !important;">
            <div class="bx-wrapper"><div class="bx-viewport" style="width: 100%; height: 470px; overflow: hidden; position: relative;"><ul id="head_slide" style="width: 2800%; height: 0px; overflow: visible; position: relative; margin: 0px; padding: 0px; left: -1160px;"><li style="float: left; position: relative; width: 1160px; list-style: none; margin-right: 0px; margin-bottom: 0px;" class="bx-clone">
                    <a href="/articol/167/platforma-webexpress">
                        <img src="/Content/home_slider/HS_integration.jpg">
                        <div class="caption">Banda de sortare colete</div>
                    </a>
                </li>
                

                <li style="float: left; position: relative; width: 1160px; list-style: none; margin-right: 0px; margin-bottom: 0px;">
                    <a href="/articol/119/recrutare-si-selectie">
                        <img src="/Content/home_slider/HS_cariere.jpg">
                        <div class="caption">-</div>
                    </a>
                </li>
                <li style="float: left; position: relative; width: 1160px; list-style: none; margin-right: 0px; margin-bottom: 0px;">
                    <a href="/articol/261/istoric">
                        <img src="/Content/home_slider/HS_masina.jpg">
                        <div class="caption">-</div>
                    </a>
                </li>
                <li style="float: left; position: relative; width: 1160px; list-style: none; margin-right: 0px; margin-bottom: 0px;">
                    <a href="/articol/175/servicii-nationale">
                        <img src="/Content/home_slider/HS_deschidere_colet.jpg">
                        <div class="caption">-</div>
                    </a>
                </li> 
                <li style="float: left; position: relative; width: 1160px; list-style: none; margin-right: 0px; margin-bottom: 0px;">
                    <a href="/articol/110/banda-de-cantarie-si-sortare">
                        <img src="/Content/home_slider/HS_banda_sortare.jpg">
                        <div class="caption">Banda de sortare colete</div>
                    </a>
                </li>
                <li style="float: left; position: relative; width: 1160px; list-style: none; margin-right: 0px; margin-bottom: 0px;">
                    <a href="/articol/167/platforma-webexpress">
                        <img src="/Content/home_slider/HS_integration.jpg">
                        <div class="caption">Banda de sortare colete</div>
                    </a>
                </li>

                
            <li style="float: left; position: relative; width: 1160px; list-style: none; margin-right: 0px; margin-bottom: 0px;" class="bx-clone">
                    <a href="/articol/119/recrutare-si-selectie">
                        <img src="/Content/home_slider/HS_cariere.jpg">
                        <div class="caption">-</div>
                    </a>
                </li></ul></div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="#top" data-slide-index="0" class="bx-pager-link active"></a></div><div class="bx-pager-item"><a href="#top" data-slide-index="1" class="bx-pager-link"></a></div><div class="bx-pager-item"><a href="#top" data-slide-index="2" class="bx-pager-link"></a></div><div class="bx-pager-item"><a href="#top" data-slide-index="3" class="bx-pager-link"></a></div><div class="bx-pager-item"><a href="#top" data-slide-index="4" class="bx-pager-link"></a></div></div><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div></div>
        </div>


		<footer>
			<div class="content-wrapper">
				<div class="clear"></div>
				<div id="footerLogged">
					<div id="copysl">Copyright © 2016 Marius Iliescu</div>
				</div>
			</div>
		</footer>

	</div>
</body>
</html>